* {
  padding: 0;
  margin: 0;
}
.panel-link {
  text-decoration: none;
}
.panel-title:hover {
  color: #f1ffff;
  transition: 0.5s;
}
body {
  font-family: Arial;
}
.home-icon {
  width: 64px;
  height: auto;
}

.panel {
  display: flex;
  align-items: center;
}
.control-panel {
  padding: 5px 50px;
  background-color: #1b5589;
  display: flex;
  justify-content: space-between;
}
.panel-title {
  /* display: inline-block; */
  font-size: 15px;
  color: #8babc6;
  padding-left: 20px;
}

.profile-settings {
  margin-top: 20px;
}
.profile-title {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}
.form-info {
  background-color: #cce5ff;
  border-radius: 10px;
  margin: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-text {
  color: #2f60a6;
  padding: 15px 20px;
  text-transform: uppercase;
  padding: 15px 100px;
}
.form {
  margin: 30px 80px;
}

.choose-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
.choose-photo {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #6c757d;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
}

.profile-change-form {
  /* padding: 0px 100px; */
  display: flex;
  justify-content: space-between;
}
.profile-change-form input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -10;
}
.student-info-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0px 25px;
}

.student-info-button {
  background-color: #6c757d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.change-password-block input,
.student-info-form input {
  width: 500px;
  display: flex;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #dde1e5;
}

.change-password-block {
  display: flex;
  flex-direction: column;
}
